#clock {
  font-size: 3rem;
  color: #FFF;
  position: absolute;
  z-index: 50;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#clock-text {
  font-size: 5rem;
  color: #FFF;
  position: absolute;
  z-index: 50;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: white;
}